CanchaLa10/Canchita.PruebasUnitarias/Service References/TransaccionWS/Transaccion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Transaccion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1557/Transaccion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1557/Transaccion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1557/Transaccion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Canchita.Service.Modelo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransaccion_AgregarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuario" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ActualizarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuario" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ActualizarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuario" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ValidarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuario" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ValidarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarTarifas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTarifas" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarTarifas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTarifasResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarReserva" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarReservaResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_retornarMontoReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:retornarMontoReserva" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_retornarMontoReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:retornarMontoReservaResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_crearTarjetas_InputMessage">
    <wsdl:part name="parameters" element="tns:crearTarjetas" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_crearTarjetas_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearTarjetasResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_abonarSaldo_InputMessage">
    <wsdl:part name="parameters" element="tns:abonarSaldo" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_abonarSaldo_OutputMessage">
    <wsdl:part name="parameters" element="tns:abonarSaldoResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_listarTarjetas_InputMessage">
    <wsdl:part name="parameters" element="tns:listarTarjetas" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_listarTarjetas_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarTarjetasResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ObtenerTarjetasXUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTarjetasXUsuario" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ObtenerTarjetasXUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTarjetasXUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_obtenerTarjeta_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerTarjeta" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_obtenerTarjeta_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerTarjetaResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_pagarReservaCTarjeta_InputMessage">
    <wsdl:part name="parameters" element="tns:pagarReservaCTarjeta" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_pagarReservaCTarjeta_OutputMessage">
    <wsdl:part name="parameters" element="tns:pagarReservaCTarjetaResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_listarPagosPendientes_InputMessage">
    <wsdl:part name="parameters" element="tns:listarPagosPendientes" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_listarPagosPendientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarPagosPendientesResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_listarPagosCancelados_InputMessage">
    <wsdl:part name="parameters" element="tns:listarPagosCancelados" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_listarPagosCancelados_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarPagosCanceladosResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarSede_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSede" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarSede_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSedeResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ActualizarSede_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarSede" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ActualizarSede_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarSedeResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarSedes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarSedes" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarSedes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarSedesResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_EliminarSede_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarSede" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_EliminarSede_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarSedeResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarCampo_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarCampo" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarCampo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarCampoResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ActualizarCampo_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCampo" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ActualizarCampo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCampoResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarCampos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCampos" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarCampos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCamposResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_EliminarCampo_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCampo" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_EliminarCampo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCampoResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransaccion">
    <wsdl:operation name="AgregarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/AgregarUsuario" message="tns:ITransaccion_AgregarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/AgregarUsuarioResponse" message="tns:ITransaccion_AgregarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ActualizarUsuario" message="tns:ITransaccion_ActualizarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ActualizarUsuarioResponse" message="tns:ITransaccion_ActualizarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ListarUsuario" message="tns:ITransaccion_ListarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ListarUsuarioResponse" message="tns:ITransaccion_ListarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ValidarUsuario" message="tns:ITransaccion_ValidarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ValidarUsuarioResponse" message="tns:ITransaccion_ValidarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTarifas">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ListarTarifas" message="tns:ITransaccion_ListarTarifas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ListarTarifasResponse" message="tns:ITransaccion_ListarTarifas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/AgregarReserva" message="tns:ITransaccion_AgregarReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/AgregarReservaResponse" message="tns:ITransaccion_AgregarReserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="retornarMontoReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/retornarMontoReserva" message="tns:ITransaccion_retornarMontoReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/retornarMontoReservaResponse" message="tns:ITransaccion_retornarMontoReserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="crearTarjetas">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/crearTarjetas" message="tns:ITransaccion_crearTarjetas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/crearTarjetasResponse" message="tns:ITransaccion_crearTarjetas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="abonarSaldo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/abonarSaldo" message="tns:ITransaccion_abonarSaldo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/abonarSaldoResponse" message="tns:ITransaccion_abonarSaldo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarTarjetas">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/listarTarjetas" message="tns:ITransaccion_listarTarjetas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/listarTarjetasResponse" message="tns:ITransaccion_listarTarjetas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTarjetasXUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ObtenerTarjetasXUsuario" message="tns:ITransaccion_ObtenerTarjetasXUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ObtenerTarjetasXUsuarioResponse" message="tns:ITransaccion_ObtenerTarjetasXUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerTarjeta">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/obtenerTarjeta" message="tns:ITransaccion_obtenerTarjeta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/obtenerTarjetaResponse" message="tns:ITransaccion_obtenerTarjeta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="pagarReservaCTarjeta">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/pagarReservaCTarjeta" message="tns:ITransaccion_pagarReservaCTarjeta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/pagarReservaCTarjetaResponse" message="tns:ITransaccion_pagarReservaCTarjeta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarPagosPendientes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/listarPagosPendientes" message="tns:ITransaccion_listarPagosPendientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/listarPagosPendientesResponse" message="tns:ITransaccion_listarPagosPendientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarPagosCancelados">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/listarPagosCancelados" message="tns:ITransaccion_listarPagosCancelados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/listarPagosCanceladosResponse" message="tns:ITransaccion_listarPagosCancelados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarSede">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/AgregarSede" message="tns:ITransaccion_AgregarSede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/AgregarSedeResponse" message="tns:ITransaccion_AgregarSede_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarSede">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ActualizarSede" message="tns:ITransaccion_ActualizarSede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ActualizarSedeResponse" message="tns:ITransaccion_ActualizarSede_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarSedes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ListarSedes" message="tns:ITransaccion_ListarSedes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ListarSedesResponse" message="tns:ITransaccion_ListarSedes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarSede">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/EliminarSede" message="tns:ITransaccion_EliminarSede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/EliminarSedeResponse" message="tns:ITransaccion_EliminarSede_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarCampo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/AgregarCampo" message="tns:ITransaccion_AgregarCampo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/AgregarCampoResponse" message="tns:ITransaccion_AgregarCampo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCampo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ActualizarCampo" message="tns:ITransaccion_ActualizarCampo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ActualizarCampoResponse" message="tns:ITransaccion_ActualizarCampo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCampos">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ListarCampos" message="tns:ITransaccion_ListarCampos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ListarCamposResponse" message="tns:ITransaccion_ListarCampos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCampo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/EliminarCampo" message="tns:ITransaccion_EliminarCampo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/EliminarCampoResponse" message="tns:ITransaccion_EliminarCampo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransaccion" type="tns:ITransaccion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarUsuario">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/AgregarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ActualizarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuario">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ListarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarUsuario">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ValidarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTarifas">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ListarTarifas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarReserva">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/AgregarReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarMontoReserva">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/retornarMontoReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearTarjetas">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/crearTarjetas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="abonarSaldo">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/abonarSaldo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarTarjetas">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/listarTarjetas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTarjetasXUsuario">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ObtenerTarjetasXUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerTarjeta">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/obtenerTarjeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pagarReservaCTarjeta">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/pagarReservaCTarjeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarPagosPendientes">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/listarPagosPendientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarPagosCancelados">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/listarPagosCancelados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarSede">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/AgregarSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarSede">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ActualizarSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarSedes">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ListarSedes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSede">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/EliminarSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarCampo">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/AgregarCampo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCampo">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ActualizarCampo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCampos">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ListarCampos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCampo">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/EliminarCampo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Transaccion">
    <wsdl:port name="BasicHttpBinding_ITransaccion" binding="tns:BasicHttpBinding_ITransaccion">
      <soap:address location="http://localhost:1557/Transaccion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>