CanchaLa10/Canchita.PruebasUnitarias/Service References/TransaccionWS/Transaccion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Transaccion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1557/Transaccion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1557/Transaccion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1557/Transaccion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Canchita.Service.Modelo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransaccion_AgregarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuario" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ActualizarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuario" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ActualizarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuario" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarTarifas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTarifas" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarTarifas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTarifasResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarReserva" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarReservaResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarDetalleReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarDetalleReserva" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarDetalleReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarDetalleReservaResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ObtenerIdUltimaReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIdUltimaReserva" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ObtenerIdUltimaReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIdUltimaReservaResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ValidarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuario" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ValidarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransaccion">
    <wsdl:operation name="AgregarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/AgregarUsuario" message="tns:ITransaccion_AgregarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/AgregarUsuarioResponse" message="tns:ITransaccion_AgregarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ActualizarUsuario" message="tns:ITransaccion_ActualizarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ActualizarUsuarioResponse" message="tns:ITransaccion_ActualizarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ListarUsuario" message="tns:ITransaccion_ListarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ListarUsuarioResponse" message="tns:ITransaccion_ListarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTarifas">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ListarTarifas" message="tns:ITransaccion_ListarTarifas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ListarTarifasResponse" message="tns:ITransaccion_ListarTarifas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/AgregarReserva" message="tns:ITransaccion_AgregarReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/AgregarReservaResponse" message="tns:ITransaccion_AgregarReserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarDetalleReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/AgregarDetalleReserva" message="tns:ITransaccion_AgregarDetalleReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/AgregarDetalleReservaResponse" message="tns:ITransaccion_AgregarDetalleReserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerIdUltimaReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ObtenerIdUltimaReserva" message="tns:ITransaccion_ObtenerIdUltimaReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ObtenerIdUltimaReservaResponse" message="tns:ITransaccion_ObtenerIdUltimaReserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ValidarUsuario" message="tns:ITransaccion_ValidarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ValidarUsuarioResponse" message="tns:ITransaccion_ValidarUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransaccion" type="tns:ITransaccion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarUsuario">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/AgregarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ActualizarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuario">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ListarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTarifas">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ListarTarifas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarReserva">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/AgregarReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarDetalleReserva">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/AgregarDetalleReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIdUltimaReserva">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ObtenerIdUltimaReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarUsuario">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ValidarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Transaccion">
    <wsdl:port name="BasicHttpBinding_ITransaccion" binding="tns:BasicHttpBinding_ITransaccion">
      <soap:address location="http://localhost:1557/Transaccion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>