CanchaLa10/Canchita.PruebasUnitarias/Service References/TransaccionWS/Transaccion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Transaccion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1557/Transaccion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1557/Transaccion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1557/Transaccion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Canchita.Service.Modelo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransaccion_AgregarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuario" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ActualizarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuario" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ActualizarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuario" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_EmininarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EmininarUsuario" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_EmininarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmininarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ValidarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuario" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ValidarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ObtenerUsuarioId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioId" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ObtenerUsuarioId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_devolverUseryContra_InputMessage">
    <wsdl:part name="parameters" element="tns:devolverUseryContra" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_devolverUseryContra_OutputMessage">
    <wsdl:part name="parameters" element="tns:devolverUseryContraResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_mandarCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:mandarCorreo" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_mandarCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:mandarCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarTarifas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTarifas" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarTarifas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTarifasResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarTarifa_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarTarifa" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarTarifa_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarTarifaResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_EliminarTarifa_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarTarifa" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_EliminarTarifa_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarTarifaResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ActualizarTarifa_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarTarifa" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ActualizarTarifa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarTarifaResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarTarifasAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTarifasAdmin" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarTarifasAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTarifasAdminResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ObtenerTarifaxI_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTarifaxI" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ObtenerTarifaxI_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTarifaxIResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarReserva" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarReservaResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_retornarMontoReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:retornarMontoReserva" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_retornarMontoReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:retornarMontoReservaResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_obtenerUltimoIDReseva_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerUltimoIDReseva" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_obtenerUltimoIDReseva_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerUltimoIDResevaResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_listarReservaXUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:listarReservaXUsuario" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_listarReservaXUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarReservaXUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarReservas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservas" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarReservas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservasResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_listarReservasPendientes_InputMessage">
    <wsdl:part name="parameters" element="tns:listarReservasPendientes" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_listarReservasPendientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarReservasPendientesResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_listarReservasCanceladas_InputMessage">
    <wsdl:part name="parameters" element="tns:listarReservasCanceladas" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_listarReservasCanceladas_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarReservasCanceladasResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_verificar_InputMessage">
    <wsdl:part name="parameters" element="tns:verificar" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_verificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:verificarResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_crearTarjetas_InputMessage">
    <wsdl:part name="parameters" element="tns:crearTarjetas" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_crearTarjetas_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearTarjetasResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_abonarSaldo_InputMessage">
    <wsdl:part name="parameters" element="tns:abonarSaldo" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_abonarSaldo_OutputMessage">
    <wsdl:part name="parameters" element="tns:abonarSaldoResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_listarTarjetas_InputMessage">
    <wsdl:part name="parameters" element="tns:listarTarjetas" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_listarTarjetas_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarTarjetasResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ObtenerTarjetasXUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTarjetasXUsuario" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ObtenerTarjetasXUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTarjetasXUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_obtenerTarjeta_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerTarjeta" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_obtenerTarjeta_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerTarjetaResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_pagarReservaConTarjeta_InputMessage">
    <wsdl:part name="parameters" element="tns:pagarReservaConTarjeta" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_pagarReservaConTarjeta_OutputMessage">
    <wsdl:part name="parameters" element="tns:pagarReservaConTarjetaResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_listarPagosPendientes_InputMessage">
    <wsdl:part name="parameters" element="tns:listarPagosPendientes" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_listarPagosPendientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarPagosPendientesResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_listarPagosCancelados_InputMessage">
    <wsdl:part name="parameters" element="tns:listarPagosCancelados" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_listarPagosCancelados_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarPagosCanceladosResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_reservarPagoEfectivo_InputMessage">
    <wsdl:part name="parameters" element="tns:reservarPagoEfectivo" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_reservarPagoEfectivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:reservarPagoEfectivoResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_pagarReservaConEfectivo_InputMessage">
    <wsdl:part name="parameters" element="tns:pagarReservaConEfectivo" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_pagarReservaConEfectivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:pagarReservaConEfectivoResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarSede_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSede" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarSede_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSedeResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ActualizarSede_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarSede" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ActualizarSede_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarSedeResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarSedes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarSedes" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarSedes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarSedesResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_EliminarSede_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarSede" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_EliminarSede_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarSedeResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ObtenerSedeId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSedeId" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ObtenerSedeId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSedeIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarCampo_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarCampo" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_AgregarCampo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarCampoResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ActualizarCampo_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCampo" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ActualizarCampo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCampoResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarCampos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCampos" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ListarCampos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCamposResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_EliminarCampo_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCampo" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_EliminarCampo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCampoResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ObtenerCamposXSede_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCamposXSede" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ObtenerCamposXSede_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCamposXSedeResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ObtenerCamposXId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCamposXId" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ObtenerCamposXId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCamposXIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_verDetalleReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:verDetalleReserva" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_verDetalleReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:verDetalleReservaResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_listarDetalleXReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:listarDetalleXReserva" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_listarDetalleXReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarDetalleXReservaResponse" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ReservasxAnio_InputMessage">
    <wsdl:part name="parameters" element="tns:ReservasxAnio" />
  </wsdl:message>
  <wsdl:message name="ITransaccion_ReservasxAnio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReservasxAnioResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransaccion">
    <wsdl:operation name="AgregarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/AgregarUsuario" message="tns:ITransaccion_AgregarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/AgregarUsuarioResponse" message="tns:ITransaccion_AgregarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ActualizarUsuario" message="tns:ITransaccion_ActualizarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ActualizarUsuarioResponse" message="tns:ITransaccion_ActualizarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ListarUsuario" message="tns:ITransaccion_ListarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ListarUsuarioResponse" message="tns:ITransaccion_ListarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmininarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/EmininarUsuario" message="tns:ITransaccion_EmininarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/EmininarUsuarioResponse" message="tns:ITransaccion_EmininarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ValidarUsuario" message="tns:ITransaccion_ValidarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ValidarUsuarioResponse" message="tns:ITransaccion_ValidarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarioId">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ObtenerUsuarioId" message="tns:ITransaccion_ObtenerUsuarioId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ObtenerUsuarioIdResponse" message="tns:ITransaccion_ObtenerUsuarioId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="devolverUseryContra">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/devolverUseryContra" message="tns:ITransaccion_devolverUseryContra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/devolverUseryContraResponse" message="tns:ITransaccion_devolverUseryContra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mandarCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/mandarCorreo" message="tns:ITransaccion_mandarCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/mandarCorreoResponse" message="tns:ITransaccion_mandarCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTarifas">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ListarTarifas" message="tns:ITransaccion_ListarTarifas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ListarTarifasResponse" message="tns:ITransaccion_ListarTarifas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarTarifa">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/AgregarTarifa" message="tns:ITransaccion_AgregarTarifa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/AgregarTarifaResponse" message="tns:ITransaccion_AgregarTarifa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarTarifa">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/EliminarTarifa" message="tns:ITransaccion_EliminarTarifa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/EliminarTarifaResponse" message="tns:ITransaccion_EliminarTarifa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarTarifa">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ActualizarTarifa" message="tns:ITransaccion_ActualizarTarifa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ActualizarTarifaResponse" message="tns:ITransaccion_ActualizarTarifa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTarifasAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ListarTarifasAdmin" message="tns:ITransaccion_ListarTarifasAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ListarTarifasAdminResponse" message="tns:ITransaccion_ListarTarifasAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTarifaxI">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ObtenerTarifaxI" message="tns:ITransaccion_ObtenerTarifaxI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ObtenerTarifaxIResponse" message="tns:ITransaccion_ObtenerTarifaxI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/AgregarReserva" message="tns:ITransaccion_AgregarReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/AgregarReservaResponse" message="tns:ITransaccion_AgregarReserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="retornarMontoReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/retornarMontoReserva" message="tns:ITransaccion_retornarMontoReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/retornarMontoReservaResponse" message="tns:ITransaccion_retornarMontoReserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerUltimoIDReseva">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/obtenerUltimoIDReseva" message="tns:ITransaccion_obtenerUltimoIDReseva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/obtenerUltimoIDResevaResponse" message="tns:ITransaccion_obtenerUltimoIDReseva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarReservaXUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/listarReservaXUsuario" message="tns:ITransaccion_listarReservaXUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/listarReservaXUsuarioResponse" message="tns:ITransaccion_listarReservaXUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarReservas">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ListarReservas" message="tns:ITransaccion_ListarReservas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ListarReservasResponse" message="tns:ITransaccion_ListarReservas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarReservasPendientes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/listarReservasPendientes" message="tns:ITransaccion_listarReservasPendientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/listarReservasPendientesResponse" message="tns:ITransaccion_listarReservasPendientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarReservasCanceladas">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/listarReservasCanceladas" message="tns:ITransaccion_listarReservasCanceladas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/listarReservasCanceladasResponse" message="tns:ITransaccion_listarReservasCanceladas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verificar">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/verificar" message="tns:ITransaccion_verificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/verificarResponse" message="tns:ITransaccion_verificar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="crearTarjetas">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/crearTarjetas" message="tns:ITransaccion_crearTarjetas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/crearTarjetasResponse" message="tns:ITransaccion_crearTarjetas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="abonarSaldo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/abonarSaldo" message="tns:ITransaccion_abonarSaldo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/abonarSaldoResponse" message="tns:ITransaccion_abonarSaldo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarTarjetas">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/listarTarjetas" message="tns:ITransaccion_listarTarjetas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/listarTarjetasResponse" message="tns:ITransaccion_listarTarjetas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTarjetasXUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ObtenerTarjetasXUsuario" message="tns:ITransaccion_ObtenerTarjetasXUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ObtenerTarjetasXUsuarioResponse" message="tns:ITransaccion_ObtenerTarjetasXUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerTarjeta">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/obtenerTarjeta" message="tns:ITransaccion_obtenerTarjeta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/obtenerTarjetaResponse" message="tns:ITransaccion_obtenerTarjeta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="pagarReservaConTarjeta">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/pagarReservaConTarjeta" message="tns:ITransaccion_pagarReservaConTarjeta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/pagarReservaConTarjetaResponse" message="tns:ITransaccion_pagarReservaConTarjeta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarPagosPendientes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/listarPagosPendientes" message="tns:ITransaccion_listarPagosPendientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/listarPagosPendientesResponse" message="tns:ITransaccion_listarPagosPendientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarPagosCancelados">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/listarPagosCancelados" message="tns:ITransaccion_listarPagosCancelados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/listarPagosCanceladosResponse" message="tns:ITransaccion_listarPagosCancelados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reservarPagoEfectivo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/reservarPagoEfectivo" message="tns:ITransaccion_reservarPagoEfectivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/reservarPagoEfectivoResponse" message="tns:ITransaccion_reservarPagoEfectivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="pagarReservaConEfectivo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/pagarReservaConEfectivo" message="tns:ITransaccion_pagarReservaConEfectivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/pagarReservaConEfectivoResponse" message="tns:ITransaccion_pagarReservaConEfectivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarSede">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/AgregarSede" message="tns:ITransaccion_AgregarSede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/AgregarSedeResponse" message="tns:ITransaccion_AgregarSede_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarSede">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ActualizarSede" message="tns:ITransaccion_ActualizarSede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ActualizarSedeResponse" message="tns:ITransaccion_ActualizarSede_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarSedes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ListarSedes" message="tns:ITransaccion_ListarSedes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ListarSedesResponse" message="tns:ITransaccion_ListarSedes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarSede">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/EliminarSede" message="tns:ITransaccion_EliminarSede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/EliminarSedeResponse" message="tns:ITransaccion_EliminarSede_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSedeId">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ObtenerSedeId" message="tns:ITransaccion_ObtenerSedeId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ObtenerSedeIdResponse" message="tns:ITransaccion_ObtenerSedeId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarCampo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/AgregarCampo" message="tns:ITransaccion_AgregarCampo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/AgregarCampoResponse" message="tns:ITransaccion_AgregarCampo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCampo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ActualizarCampo" message="tns:ITransaccion_ActualizarCampo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ActualizarCampoResponse" message="tns:ITransaccion_ActualizarCampo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCampos">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ListarCampos" message="tns:ITransaccion_ListarCampos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ListarCamposResponse" message="tns:ITransaccion_ListarCampos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCampo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/EliminarCampo" message="tns:ITransaccion_EliminarCampo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/EliminarCampoResponse" message="tns:ITransaccion_EliminarCampo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCamposXSede">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ObtenerCamposXSede" message="tns:ITransaccion_ObtenerCamposXSede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ObtenerCamposXSedeResponse" message="tns:ITransaccion_ObtenerCamposXSede_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCamposXId">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ObtenerCamposXId" message="tns:ITransaccion_ObtenerCamposXId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ObtenerCamposXIdResponse" message="tns:ITransaccion_ObtenerCamposXId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verDetalleReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/verDetalleReserva" message="tns:ITransaccion_verDetalleReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/verDetalleReservaResponse" message="tns:ITransaccion_verDetalleReserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarDetalleXReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/listarDetalleXReserva" message="tns:ITransaccion_listarDetalleXReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/listarDetalleXReservaResponse" message="tns:ITransaccion_listarDetalleXReserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReservasxAnio">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransaccion/ReservasxAnio" message="tns:ITransaccion_ReservasxAnio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransaccion/ReservasxAnioResponse" message="tns:ITransaccion_ReservasxAnio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransaccion" type="tns:ITransaccion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarUsuario">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/AgregarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ActualizarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuario">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ListarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmininarUsuario">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/EmininarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarUsuario">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ValidarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarioId">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ObtenerUsuarioId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverUseryContra">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/devolverUseryContra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mandarCorreo">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/mandarCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTarifas">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ListarTarifas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarTarifa">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/AgregarTarifa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarTarifa">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/EliminarTarifa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarTarifa">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ActualizarTarifa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTarifasAdmin">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ListarTarifasAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTarifaxI">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ObtenerTarifaxI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarReserva">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/AgregarReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarMontoReserva">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/retornarMontoReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerUltimoIDReseva">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/obtenerUltimoIDReseva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarReservaXUsuario">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/listarReservaXUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarReservas">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ListarReservas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarReservasPendientes">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/listarReservasPendientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarReservasCanceladas">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/listarReservasCanceladas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificar">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/verificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearTarjetas">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/crearTarjetas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="abonarSaldo">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/abonarSaldo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarTarjetas">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/listarTarjetas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTarjetasXUsuario">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ObtenerTarjetasXUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerTarjeta">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/obtenerTarjeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pagarReservaConTarjeta">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/pagarReservaConTarjeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarPagosPendientes">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/listarPagosPendientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarPagosCancelados">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/listarPagosCancelados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reservarPagoEfectivo">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/reservarPagoEfectivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pagarReservaConEfectivo">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/pagarReservaConEfectivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarSede">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/AgregarSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarSede">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ActualizarSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarSedes">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ListarSedes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSede">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/EliminarSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSedeId">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ObtenerSedeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarCampo">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/AgregarCampo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCampo">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ActualizarCampo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCampos">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ListarCampos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCampo">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/EliminarCampo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCamposXSede">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ObtenerCamposXSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCamposXId">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ObtenerCamposXId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verDetalleReserva">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/verDetalleReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarDetalleXReserva">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/listarDetalleXReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReservasxAnio">
      <soap:operation soapAction="http://tempuri.org/ITransaccion/ReservasxAnio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Transaccion">
    <wsdl:port name="BasicHttpBinding_ITransaccion" binding="tns:BasicHttpBinding_ITransaccion">
      <soap:address location="http://localhost:1557/Transaccion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>