CanchaLa10/Canchita.PruebasUnitarias/Service References/TransaccionWS/Transaccion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Canchita.Service.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Canchita.Service.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
  <xs:complexType name="ArrayOfTarifa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tarifa" nillable="true" type="tns:Tarifa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTarifa" nillable="true" type="tns:ArrayOfTarifa" />
  <xs:complexType name="Tarifa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Checked" type="xs:boolean" />
      <xs:element minOccurs="0" name="HoraFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tarifa" nillable="true" type="tns:Tarifa" />
  <xs:complexType name="Reserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaReserva" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Monto" type="xs:double" />
      <xs:element minOccurs="0" name="campo" nillable="true" type="tns:Campo" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reserva" nillable="true" type="tns:Reserva" />
  <xs:complexType name="Campo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Sede" nillable="true" type="tns:Sede" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Campo" nillable="true" type="tns:Campo" />
  <xs:complexType name="Sede">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sede" nillable="true" type="tns:Sede" />
  <xs:complexType name="DetalleReserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="HoraFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:double" />
      <xs:element minOccurs="0" name="Reserva" nillable="true" type="tns:Reserva" />
      <xs:element minOccurs="0" name="Tarifa" nillable="true" type="tns:Tarifa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetalleReserva" nillable="true" type="tns:DetalleReserva" />
  <xs:complexType name="Tarjeta">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idTarjeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saldo" type="xs:double" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tarjeta" nillable="true" type="tns:Tarjeta" />
  <xs:complexType name="ArrayOfTarjeta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tarjeta" nillable="true" type="tns:Tarjeta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTarjeta" nillable="true" type="tns:ArrayOfTarjeta" />
  <xs:complexType name="Pago">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idReserva" nillable="true" type="tns:Reserva" />
      <xs:element minOccurs="0" name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="nroPago" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pago" nillable="true" type="tns:Pago" />
  <xs:complexType name="ArrayOfPago">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pago" nillable="true" type="tns:Pago" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPago" nillable="true" type="tns:ArrayOfPago" />
  <xs:complexType name="ArrayOfSede">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sede" nillable="true" type="tns:Sede" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSede" nillable="true" type="tns:ArrayOfSede" />
  <xs:complexType name="ArrayOfCampo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Campo" nillable="true" type="tns:Campo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCampo" nillable="true" type="tns:ArrayOfCampo" />
</xs:schema>